<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
{% block head %} {% endblock %}
  </head>
  <body class="u-body u-overlap u-overlap-contrast"><header class="u-clearfix u-header" id="sec-4ba2"><div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="1149" data-image-height="1280">
          <img src="/index_files/images/aircraft-g6cf744dd4_1280.png" class="u-logo-image u-logo-image-1">
        </a>
        <a href="/process" class="u-align-center u-border-4 u-border-custom-color-2 u-border-hover-custom-color-2 u-btn u-btn-round u-button-style u-custom-color-4 u-hover-custom-color-3 u-radius-50 u-text-custom-color-2 u-btn-1">Главное меню</a>
        <a href="/process" class=" u-btn u-button-style u-custom-font u-none u-text-active-custom-color-2 u-text-custom-color-2 u-text-hover-custom-color-2 u-btn-2"> Memento Mori Airlines </a>
      </div></header>

      {% block body %}

    {% endblock %}

   <footer class="u-clearfix u-footer u-grey-80 u-footer" id="sec-fb44"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-1">
                <div class="u-container-layout u-valign-top-lg u-valign-top-sm u-valign-top-xl u-container-layout-1">
                  <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1149" data-image-height="1280">
                    <img src="/index_files/images/aircraft-g6cf744dd4_1280.png" class="u-logo-image u-logo-image-1">
                  </a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2"><!--position-->
                  <div data-position="" class="u-position u-position-1"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-custom-font u-font-georgia u-text"><!--block_header_content-->Features<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-custom-font u-font-georgia u-spacing-10 u-text"><!--block_content_content--> &nbsp; <br>&nbsp;<br>
                          <br>&nbsp;<br>
                          <br><!--/block_content_content-->
                        </div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-1"> Cool stuff</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-2"> Team feature</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-3"> Stuff for developers</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-4"> Another one</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-5">L​ast tim</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3"><!--position-->
                  <div data-position="" class="u-position u-position-2"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-custom-font u-font-georgia u-text"><!--block_header_content--> Resources <!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-custom-font u-font-georgia u-spacing-10 u-text"><!--block_content_content-->
                          <br><!--/block_content_content-->
                        </div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-6"> Resource</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-7"> Resource name</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-8"> Another resource</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-9"> Final resource</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4"><!--position-->
                  <div data-position="" class="u-position u-position-3"><!--block-->
                    <div class="u-block">
                      <div class="u-block-container u-clearfix"><!--block_header-->
                        <h5 class="u-block-header u-custom-font u-font-georgia u-text"><!--block_header_content--> About <!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                        <div class="u-block-content u-custom-font u-font-georgia u-spacing-10 u-text"><!--block_content_content-->
                          <br><!--/block_content_content-->
                        </div><!--/block_content-->
                      </div>
                    </div><!--/block-->
                  </div><!--/position-->
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-10"> Team</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-11"> Locations</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-12"> Privacy</a>
                  <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-active-custom-color-2 u-text-body-alt-color u-text-hover-custom-color-2 u-btn-13"> Terms</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></footer>
  </body>
</html>